.idea/*
*.pyc
node_modules/*
data/*
coverage-report/*
jspm_packages/*
*/jspm_packages/*
server/static/js/vendor/jspm_packages/*
server/static/vendor/*
.DS_Store
server/static/js/mediasite.js*
server/static/css/*
server/settings_secret.py
build

server/static/js/manifest.js
server/static/js/mediasite.js
server/static/js/vendor.js
server/templates/base.html
