<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/global.css">
    <title>{% block page_title %}Media Site{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/app/mediaCodec/MediaCodec2.js"></script>

    {% block javascripts %}{% endblock %}
  </body>
</html>
