<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="manifest" href="/manifest.json" />
    <link rel="preload" href="/static/vendor/jquery/dist/jquery.min.js" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/global.css">
    <title>Circle's Media Site</title>
  </head>
  <body>
    <div id="mediasite"></div>

    <footer class="page-footer no-print">
      <div class="footer-copyright">
        <div class="container">
          &copy; 2016 Circle Drive Alliance Church
        </div>
      </div>
    </footer>
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/manifest.6668d46178db8cb7aa2a.js"></script><script type="text/javascript" src="/static/js/vendor.8443e0a196505c8d0cbd.js"></script><script type="text/javascript" src="/static/js/mediasite.c58dac38bcfaaef49828.js"></script></body>
</html>
