.song-data {
  .card-title {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
  }

  p {
    font-size: 0.7em;
    text-align: center;
    margin: 0px;
  }
}

.SongPartTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
}

.ArrangementTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
  margin: 15px 0;
}

.held {
	display: inline-block;
	border: 1px solid black;
	padding: 5px 5px;
	transform: rotate(45deg);
	margin-left: 5px;
}

.choked {
	display: inline-block;
	border-top: 1px solid black;
	border-left: 1px solid black;
	transform: rotate(45deg);
	padding: 5px 5px;
	margin-left: 5px;
}

.note {
	display: inline-block;
}
