.youtube-video {
  width: 100%;

  @media #{$medium-and-up} {
    width: 640px;
    height: 390px;
  }
}

.black-with-hover {
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.collector {
  .row {
    margin-bottom: 0;
  }
}

.preview-text {
  text-align: right;

  @media #{$medium-and-down} {
    text-align: left;
  }
}
