.song-data {
  .card-title {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
  }

  p {
    font-size: 0.7em;
    text-align: center;
    margin: 0px;
  }
}

.SongPartTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
}

.ArrangementTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
  margin: 15px 0;
}

.held {
	display: inline-block;
	border: 1px solid black;
	padding: 5px 10px;
	transform: rotate(45deg);
}

.choked {
	display: inline-block;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	transform: rotate(45deg);
	padding: 5px 10px;
}

.note {
	display: inline-block;
	transform: rotate(-45deg);
}
