$black: black;
$roboto-font-path: '/static/vendor/materialize/fonts/roboto/';
$primary-color: #c77f32;
$card-link-color: #f04848;
$background-color: #fff;
$front-page-background-color: #C4925A;
$secondary-color: #c77f32;
