$site-background: lightgray;
$song-background: #fff;
$black: black;
$roboto-font-path: '/static/vendor/materialize/fonts/roboto/';
$primary-color: #92cec1;
$card-link-color: #f04848;
$background-color: #f9f2cc;
